@keyframes animation-div {
    0% {
        transform: translateX(0px);
    }

    25% {
        transform: translateX(300px);
    }

    50% {
        transform: translate(300px, 300px);
    }

    75% {
        transform: translate(0px, 300px);
    }


    100% {
        transform: translateY(0px);
    }
    
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.div-container {
   height: 400px;
   width: 400px;
   display: flex;
   background-color: rgba(128, 128, 128, 0.466);
   
    


    
}

.div-move {
    height: 100px;
    width: 100px;
    background-color: red;
    animation: animation-div 5s 1s linear infinite;
    

}